.type {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-regular);
}

.bg {
    background: rgba(0,0,0,.25);
    backdrop-filter: blur(20px);
    padding: calc(var(--padding-small) * 2);
    border-radius: var(--border-radius-large);
}

.icon {
    display: block;
    color: rgba(255,255,255,.9);
}