.footer {
    width: var(--page-width);
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding-top: calc(var(--padding-large) * 2);
}

.footer > *:not(:last-child) {
    margin-right: calc(var(--padding-regular) + var(--padding-small))
}

a.brand {
    flex: 1;
    color: var(--text-color-secondary)
}
.brand:hover {
    text-decoration: underline;
}

.site {
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 1.5;
    display: block;
}

.desc {
    font-size: var(--font-size-micro);
    display: block;
    opacity: .7;
}